@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: saira;
  font-size: 15px;
}

#main {
  margin: 30px 0;
}

#image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#img-div {
  margin: 0;
  padding: 10px;
}

#img-caption {
  text-align: center;
  font-size: 15px;
}

.section {
  background-color: #801e1e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  color: white;
}

h1 {
  font-size: 45px;
}

h3 {
  text-align: center;
  padding: 0 10px;
}

#title {
  display: flex;
}

#middle {
  display: flex;
  padding: 10px;
}

.quote {
  font-size: 2vw;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 1000px;
  margin: 20px auto;
}

.img2 {
  width: 100%;
  border-radius: 10px;
}

#video-container iframe {
  max-width: 1000px;
}

#video {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  #img-caption {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  article {
    margin: 0 10px;
  }
  p {
    font-size: 12px;
  }
}
